* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Headline */

nav {
    background-color: #f0f0f0;
    padding-top: 30px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-right: auto;
}

.navbar-logo img {
    height: 50px;
    margin-left: 50px;
}

.navbar-links {
    text-align: center;
}

.navbar-links a {
    margin: 0 10px;
    color: rgb(103, 103, 103);
    font-family: calibri;
    font-size: 18px;
    text-decoration: none;
}

.vertical-line {
    width: 1px;
    height: 13px;
    background-color: rgb(103, 103, 103);
    display: inline-block;
    margin: 0 10px;
}


.navbar-social-icons {
    margin-left: auto;
    margin-right: 50px;
}


/* Headline */

/* Sobre */

section {
    font-family: system-ui;
}

.container-section {
    display: flex;
    margin-top: 50px;
}

.img-sobre {
    margin-right: 10px;
    width: 300px;
    margin-left: 50px;
}

.text-sobre {
    font-family: system-ui;
    margin-left: 30px;
    color: #4e4d4d;
}

.container1 {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 60px;
}

.container img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.redes-sociais {
    text-align: center;
}

/* Sobre */

/* Produto */

.text-sobre2 {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.botao {
    background-color: rgb(49, 150, 1);
    color: white;
    margin-left: 120px;
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.img-certificate {
    width: 125px;
    height: 125px;
    margin-left: 80px;
    margin-top: 100px;
}


.container {
    display: flex;
    align-items: center;
}

.text-box {
    flex: 1;
}

.text-box h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-left: 50px;
}

.text-box p {
    font-size: 16px;
    margin-left: 50px;
}

.image-box {
    flex: 1;
    text-align: right;
}

.image-box img {
    max-width: 100%;
    height: auto;
    width: 400px;
    margin-top: 50px;
    margin-right: 50px;
}

.botao2 {
    background-color: rgb(49, 150, 1);
    color: white;
    margin-left: 510px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}


/* Pruduto */

.contact {
    background: rgb(18, 18, 18);
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact h2 {
    color: rgb(52, 138, 244);
    margin-left: 100px;
    font-weight: 100;
}

.contact h3 {
    color: white;
    font-family: calibri;
    font-weight: 100;
    font-size: 16px
}

/* footer */

footer {
    color: black;
    /* margin-left: 230px; */
    text-align: center;
    font-family: system-ui;
}


footer a {
    color: black;
    text-decoration: none;
    /* margin: 0 10px; */
    font-family: system-ui;
    padding-left: 50px;
}

.align-footer {
    text-align: center;
}